$bgColor = #00bcd4
$bgwhite = #fff
$bgwhite5 = #f5f5f5
$bggray3 = #333
$bggray6 = #666
$bggray9 = #999
$bggrayc = #ccc
$bggrayd = #ddd
$bggraye = #eee
$bggraye5 = #e5e5e5
$bgheight4= 0.4rem
$bgheight5= 0.5rem
$bgheight6= 0.6rem
$bgheight8 = 0.8rem
$bgheight10 = 1rem
$bgheight12 = 1.2rem
$bgheight15 = 1.5rem
$bgheight16 = 1.6rem
$bgheight18 = 1.8rem
$bgheight20 = 2.0rem