$bgColor = #00bcd4
$bggray = #333
$bggray1 = #999
$bgheight5= 0.5rem
$bgheight6= 0.6rem
$bgheight8 = 0.8rem
$bgheight10 = 1rem
$bgheight12 = 1.2rem
$bgheight15 = 1.5rem
$bgheight16 = 1.6rem
$bgheight18 = 1.8rem
$bgheight20 = 2.0rem